@{
    ViewData["Title"]= "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CMCS</h1>
    <p>Contract Monthly Claim System</p>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["SuccessMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
</div>